
# Folders to ignore
/_old
/input
/output
/result
/figures
/_old/validation_heating
/validation

# Folders NOT to ignore
!/simx

# Files to ignore

# Files NOT to ignore
!env.yml
!hts.py
!input.yml
!run.py